<!-- Home.razor -->
@page "/"

<head>
 
    <link href="css/style.css" rel="stylesheet" />
</head>

<h3>Bem-vindo à Tela Home</h3>
<p>
    A doação de sangue é um gesto simples, voluntário e solidário que pode salvar vidas. Em apenas uma doação, é possível beneficiar até quatro pessoas, já que o sangue doado é separado em diferentes componentes — como plaquetas, plasma e hemácias — e utilizado em diferentes tratamentos.

    Hospitais e unidades de saúde dependem diariamente de estoques regulares de sangue para atender vítimas de acidentes, pessoas com doenças crônicas, pacientes em cirurgias e até bebês prematuros. No entanto, os bancos de sangue frequentemente enfrentam baixos níveis de estoque, especialmente em períodos de férias, inverno ou em tempos de crise.

    Doar sangue é seguro, rápido e não causa prejuízo à saúde do doador. O corpo repõe naturalmente o volume coletado em poucos dias. Para quem recebe, no entanto, essa doação pode significar a continuidade da vida.

    A solidariedade de um doador voluntário pode ser a esperança para alguém em situação crítica. Ao doar sangue, você se torna parte de uma corrente de empatia, cuidado e responsabilidade social.

    Doe sangue. Salve vidas.
</p>
<a href="/cadastro">
    <button @onclick="NavigateToCadastro" class="btn btn-primary">Cadastrar novo doador</button>
</a>

@code {
    private void NavigateToCadastro()
    {
        // Navega para a tela de cadastro
        NavigationManager.NavigateTo("/cadastro");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}
