<!-- Home.razor -->
@page "/"

<link href="css/styleHome.css" rel="stylesheet" />

<h3>Bem-vindo ao SangueBom</h3>
<a href="/cadastro">
    <button @onclick="NavigateToCadastro" class="btn btn-primary">Cadastrar novo doador</button>
</a>

@code {
    private void NavigateToCadastro()
    {
        // Navega para a tela de cadastro
        NavigationManager.NavigateTo("/cadastro");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}
